img {
    width: 100%;
    height: auto;
    display: block;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.blogs .image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}